@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "flowbite/src/themes/default";
@import "trix/dist/trix.css";
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source "../../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";
@plugin "flowbite/plugin";
@plugin "flowbite-typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --color-zinc-50: var(--color-stone-50);
        --color-zinc-100: var(--color-stone-100);
        --color-zinc-200: var(--color-stone-200);
        --color-zinc-300: var(--color-stone-300);
        --color-zinc-400: var(--color-stone-400);
        --color-zinc-500: var(--color-stone-500);
        --color-zinc-600: var(--color-stone-600);
        --color-zinc-700: var(--color-stone-700);
        --color-zinc-800: var(--color-stone-800);
        --color-zinc-900: var(--color-stone-900);
        --color-zinc-950: var(--color-stone-950);

        /* --- Акцент --- */
        --color-accent: var(--color-amber-400);
        --color-accent-content: var(--color-amber-600);
        --color-accent-foreground: var(--color-amber-950);
    }

    /* --- Темная тема --- */
    .dark {
        --color-accent: var(--color-amber-400);
        --color-accent-content: var(--color-amber-400);
        --color-accent-foreground: var(--color-amber-950);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

/*input:focus[data-flux-control],*/
/*textarea:focus[data-flux-control],*/
/*select:focus[data-flux-control] {*/
/*    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;*/
/*}*/

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */



/* rich text */
.trix-content {
    height: 60vh;
    width: 100%;
    overflow-x: auto;
}
/** These are specific for the tag that will be added to the rich text content */
.trix-content .attachment-gallery > .attachment,
.trix-content .attachment-gallery > rich-text-attachment {
    flex: 1 0 33%;
    padding: 0 0.5em;
    max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > .attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > rich-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > rich-text-attachment {
    flex-basis: 50%;
    max-width: 50%;
}

.trix-content rich-text-attachment .attachment {
    padding: 0 !important;
    max-width: 100% !important;
}

/** These are TailwindCSS specific tweaks */
.trix-content {
    @apply w-full;
}

.trix-content h1 {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    @apply leading-5 font-semibold mb-4;
}

.trix-content a:not(.no-underline) {
    @apply underline;
}

.trix-content ul {
    list-style-type: disc;
    padding-left: 2.5rem;
}

.trix-content ol {
    list-style-type: decimal;
    padding-left: 2.5rem;
}

.trix-content img {
    margin: 0 auto;
}